.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.home-container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  width: 100%;
}

.home-container h1,
p {
  margin: 0;
}

.home-container .complete {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  color: #007bff;
}

.home-container button:focus {
  outline: none;
}

.home-body {
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.verify-button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}

.verify-button:hover {
  background-color: #0056b3;
}

.logout {
  padding: 10px;
  background-color: #f27777;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  box-sizing: border-box;
}

.logout:hover {
  background-color: red;
}
